@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div style="padding: 10px 10px 10px 10px;">
    <a target="_blank" href="/Images/Rapture - www.Canva.com - 2021-06-05-00.png"><img src="/Images/Rapture - www.Canva.com - 2021-06-05-00.png" alt="Current Rapture Business Card Template" title="Current Rapture Business Card Template" height="300" /></a>
    <br /><br />

    <h4 style="color: orange;">Welcome.</h4>

    <p style="color: mediumvioletred;">This Web Site is Coming Soon...</p>

    <p style="color: mediumvioletred;">In the Meantime, please refer to the Rapture Therapy Web Site: <a target="_blank" href="https://Therapy.Rapture.global/">https://Therapy.Rapture.global/</a></p>

    <p style="color: mediumvioletred;">
        Also, please read the Mission of Rapture Global in <a target="_blank" href="/Documentation/Rapture.pdf">https://www.Rapture.global/Documentation/Rapture.pdf</a>.
    </p>

    <p style="color: mediumvioletred;">
        And please refer to <a target="_blank" href="https://www.Eadent.com/">https://www.Eadent.com/</a>, our notional Parent.
    </p>

    <p style="color: mediumvioletred;">And if you are feeling Curious or Adventurous, please feel free to check out some <a target="_blank" href="https://Therapy.Rapture.global/Alpha/">Experimental Alpha Software</a> over at the Rapture Therapy Web Site.</p>

</div>
